.strip {
    position: relative;
    z-index: 1;
    background-color: #000;
    top: -220px;

    &_decor {
        align-items: start;
        width: 100% !important;

        @media(max-width: 800px) {
            left: 200px;
        }
    }

    &_content {
        height: 900px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0px 16px;

        @media(max-width: 800px) {
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
        }
    }

    &_header {
        font-size: 48px;
        max-width: 420px;
        text-align: left;
        text-shadow: 4.00px 0.00px #E1DAC0, 3.70px 1.53px #E1DAC0, 2.83px 2.83px #E1DAC0, 1.53px 3.70px #E1DAC0, 0.00px 4.00px #E1DAC0, -1.53px 3.70px #E1DAC0, -2.83px 2.83px #E1DAC0, -3.70px 1.53px #E1DAC0, -4.00px 0.00px #E1DAC0, -3.70px -1.53px #E1DAC0, -2.83px -2.83px #E1DAC0, -1.53px -3.70px #E1DAC0, -0.00px -4.00px #E1DAC0, 1.53px -3.70px #E1DAC0, 2.83px -2.83px #E1DAC0, 3.70px -1.53px #E1DAC0, 8.00px 4.00px #9D9166, 7.70px 5.53px #9D9166, 6.83px 6.83px #9D9166, 5.53px 7.70px #9D9166, 4.00px 8.00px #9D9166, 2.47px 7.70px #9D9166, 1.17px 6.83px #9D9166, 0.30px 5.53px #9D9166, 0.00px 4.00px #9D9166, 0.30px 2.47px #9D9166, 1.17px 1.17px #9D9166, 2.47px 0.30px #9D9166, 4.00px 0.00px #9D9166, 5.53px 0.30px #9D9166, 6.83px 1.17px #9D9166, 7.70px 2.47px #9D9166;
        min-height: 400px;

        @media(max-width: 800px) {
            max-width: 100%;
            width: 100%;
        }
    }

    &_media {
        @media(max-width: 800px) {
            height: 300px !important;
            width: 100% !important;
            display: flex;
            justify-content: right;
            align-items: center;
        }

        &_el {
            justify-content: right !important;

            &_1 {
                top: -50px;
                transform: rotate(4deg);
            }

            &_2 {
                top: 40px;
                transform: rotate(-4deg);
            }

            &_inner {
                min-width: 250px;
                height: 80px;
                background-color: #FFE984;
                border-radius: 12px;
                border: 10px solid #EACD43;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 48px;
                box-shadow: 4px 4px #CBB552;

                &_2 {
                    min-width: 290px;
                    column-gap: 24px;
                }
            }
        }
    }
}