.rug {
    height: calc(57vw - 250px);
    position: relative;
    top: -250px;
    z-index: 0;

    @media(max-width: 1600px) {
        height: calc(93vw - 250px);
    }

    @media(max-width: 700px) {
        height: calc(186vw - 250px);
    }

    &_decor {
        z-index: 1;
        align-items: start;
        width: 100% !important;
        display: flex;
        justify-content: left;

        &_inner {
            justify-content: left;
            align-items: start;

            img {
                width: 100vw;
                position: relative;

                @media(max-width: 1600px) {
                    width: 200vw;
                    height: 93vw;
                    animation: rugBg1600 10s infinite alternate;

                    @keyframes rugBg1600 {
                        0% {
                            left: 0vw;
                        }

                        100% {
                            left: -50vw;
                        }
                    }
                }

                @media(max-width: 700px) {
                    width: 300vw;
                    height: 186vw;
                    animation: rugBg700 10s infinite alternate;

                    @keyframes rugBg700 {
                        0% {
                            left: 0vw;
                        }

                        100% {
                            left: -150vw;
                        }
                    }
                }
            }
        }
    }

    &_header {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        padding: 0px 15px;
        font-size: 120px;
        position: relative;
        z-index: 2;
        top: 200px;
        text-shadow: 12.00px 0.00px #E1DAC0, 11.09px 4.59px #E1DAC0, 8.49px 8.49px #E1DAC0, 4.59px 11.09px #E1DAC0, 0.00px 12.00px #E1DAC0, -4.59px 11.09px #E1DAC0, -8.49px 8.49px #E1DAC0, -11.09px 4.59px #E1DAC0, -12.00px 0.00px #E1DAC0, -11.09px -4.59px #E1DAC0, -8.49px -8.49px #E1DAC0, -4.59px -11.09px #E1DAC0, -0.00px -12.00px #E1DAC0, 4.59px -11.09px #E1DAC0, 8.49px -8.49px #E1DAC0, 11.09px -4.59px #E1DAC0, 16.00px 4.00px #9D9166, 15.09px 8.59px #9D9166, 12.49px 12.49px #9D9166, 8.59px 15.09px #9D9166, 4.00px 16.00px #9D9166, -0.59px 15.09px #9D9166, -4.49px 12.49px #9D9166, -7.09px 8.59px #9D9166, -8.00px 4.00px #9D9166, -7.09px -0.59px #9D9166, -4.49px -4.49px #9D9166, -0.59px -7.09px #9D9166, 4.00px -8.00px #9D9166, 8.59px -7.09px #9D9166, 12.49px -4.49px #9D9166, 15.09px -0.59px #9D9166;

        @media(max-width: 1200px) {
            font-size: 70px;
            text-shadow: 6.00px 0.00px #E1DAC0, 5.54px 2.30px #E1DAC0, 4.24px 4.24px #E1DAC0, 2.30px 5.54px #E1DAC0, 0.00px 6.00px #E1DAC0, -2.30px 5.54px #E1DAC0, -4.24px 4.24px #E1DAC0, -5.54px 2.30px #E1DAC0, -6.00px 0.00px #E1DAC0, -5.54px -2.30px #E1DAC0, -4.24px -4.24px #E1DAC0, -2.30px -5.54px #E1DAC0, -0.00px -6.00px #E1DAC0, 2.30px -5.54px #E1DAC0, 4.24px -4.24px #E1DAC0, 5.54px -2.30px #E1DAC0, 8.00px 2.00px #9D9166, 7.54px 4.30px #9D9166, 6.24px 6.24px #9D9166, 4.30px 7.54px #9D9166, 2.00px 8.00px #9D9166, -0.30px 7.54px #9D9166, -2.24px 6.24px #9D9166, -3.54px 4.30px #9D9166, -4.00px 2.00px #9D9166, -3.54px -0.30px #9D9166, -2.24px -2.24px #9D9166, -0.30px -3.54px #9D9166, 2.00px -4.00px #9D9166, 4.30px -3.54px #9D9166, 6.24px -2.24px #9D9166, 7.54px -0.30px #9D9166;
        }

        @media(max-width: 700px) {
            font-size: 48px;
            text-shadow: 4.00px 0.00px #E1DAC0, 3.70px 1.53px #E1DAC0, 2.83px 2.83px #E1DAC0, 1.53px 3.70px #E1DAC0, 0.00px 4.00px #E1DAC0, -1.53px 3.70px #E1DAC0, -2.83px 2.83px #E1DAC0, -3.70px 1.53px #E1DAC0, -4.00px 0.00px #E1DAC0, -3.70px -1.53px #E1DAC0, -2.83px -2.83px #E1DAC0, -1.53px -3.70px #E1DAC0, -0.00px -4.00px #E1DAC0, 1.53px -3.70px #E1DAC0, 2.83px -2.83px #E1DAC0, 3.70px -1.53px #E1DAC0, 6.00px 2.00px #9D9166, 5.70px 3.53px #9D9166, 4.83px 4.83px #9D9166, 3.53px 5.70px #9D9166, 2.00px 6.00px #9D9166, 0.47px 5.70px #9D9166, -0.83px 4.83px #9D9166, -1.70px 3.53px #9D9166, -2.00px 2.00px #9D9166, -1.70px 0.47px #9D9166, -0.83px -0.83px #9D9166, 0.47px -1.70px #9D9166, 2.00px -2.00px #9D9166, 3.53px -1.70px #9D9166, 4.83px -0.83px #9D9166, 5.70px 0.47px #9D9166;
        }
    }
}