@use 'fonts';
@use 'null';
@use 'header';
@use 'hero';
@use 'nfts';
@use 'vibe';
@use 'tapes';
@use 'pocker';
@use 'rug';
@use 'footer';


#buysis,
#buysis2 {
    cursor: pointer;
    transition: scale 200ms;

    &:hover {
        scale: 1.1;
    }
}