.vibe {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_header {
        font-size: 48px;
        max-width: 460px;
        text-align: center;
        text-shadow: 4.00px 0.00px #E1DAC0, 3.70px 1.53px #E1DAC0, 2.83px 2.83px #E1DAC0, 1.53px 3.70px #E1DAC0, 0.00px 4.00px #E1DAC0, -1.53px 3.70px #E1DAC0, -2.83px 2.83px #E1DAC0, -3.70px 1.53px #E1DAC0, -4.00px 0.00px #E1DAC0, -3.70px -1.53px #E1DAC0, -2.83px -2.83px #E1DAC0, -1.53px -3.70px #E1DAC0, -0.00px -4.00px #E1DAC0, 1.53px -3.70px #E1DAC0, 2.83px -2.83px #E1DAC0, 3.70px -1.53px #E1DAC0, 8.00px 4.00px #9D9166, 7.70px 5.53px #9D9166, 6.83px 6.83px #9D9166, 5.53px 7.70px #9D9166, 4.00px 8.00px #9D9166, 2.47px 7.70px #9D9166, 1.17px 6.83px #9D9166, 0.30px 5.53px #9D9166, 0.00px 4.00px #9D9166, 0.30px 2.47px #9D9166, 1.17px 1.17px #9D9166, 2.47px 0.30px #9D9166, 4.00px 0.00px #9D9166, 5.53px 0.30px #9D9166, 6.83px 1.17px #9D9166, 7.70px 2.47px #9D9166;
    }
}